

body
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #47c29b ;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #47c25e;
    color: #000;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
}

.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin: 80px;
}

.group 
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
    padding: 20px;
    background-color: #47acc2;
    border: 2px solid #D0BFFF;
    border-radius: 30px;
    margin: 30px;
}

.group img 
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px  #ddd;
    margin: 0 auto 10px auto;
    object-fit: cover;
}

.group:hover
{
    transition: 0.5s;
    background-color: #566de0;
    transform: scale(1.2);
}


.name   
{
    font-weight: bold;
    margin: 5px 0;
}

.nim    
{
    color: #000;
    margin-bottom: 0;
}

.slogan 
{
    font-style: italic;
    margin: 10px;
}

.instagram img
{
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #FFF;
}

.instagram img:hover
{
    background-color: #405DE6;
}
