html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.nav-top {
    width: 100%;
    justify-content: left;
    flex-direction: row;
    padding: 20px;
    font-size: 1rem;
    background-color: #ffd500;
    font-weight: 600;
    position: fixed;
    z-index:  5;

}

.section-home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    background-color: black;
    color: azure;
    background-image: url(../image/nightsky.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.container-n {
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.div-block-174 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.h1-home {
    font-size: 5.25rem;
    margin-bottom: 0;
}

.h2-home {
    font-size: 2.15rem;
    font-weight: 600;
    margin-top: 0;
}

.button-space {
    justify-content: center;
    flex-direction: row;
    display: flex;
    grid-column-gap:1.5rem;
}

.button-n {
    font-size: 1.2rem;
    border: none;
    padding: 1rem 2rem;
    font-weight: 600;
    line-height: 100%;
}

.button-wrap1 {
    margin-top: 0;
    display: flex;
    position: relative;
    background-color:#00aaff;
}

.button-wrap2 {
    margin-top: 0;
    display: flex;
    position: relative;
    background-color:#ffd500;
}


.aa {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 30px;
}

.aa:hover {
    color: azure;
}


.button-wrap1:hover {
    transition: 0.3s;
    background-color: blue;
    transform: scale(1.1);
}

.button-wrap2:hover {
    transition: 0.3s;
    background-color: orange;
    transform: scale(1.1);
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.music-section {
    width: 100%;
    min-height: 92vh;
    display: flex;
    align-items: stretch;
    background-color: #F3F0CA;
    color: black;
}

.col-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    margin-left: auto;
    margin-left: auto;
    margin-top: 2rem;
    padding-bottom: 4rem;

}

.col-figure img {
    width: 400px;
    height: 400px;
}

.pall {
    font-size: 1rem;
}

.a-schedule {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}


.section-partners {
    width: 100%;
    min-height: 92vh;
    display: flex;
    align-items: stretch;
    background-color: #363062;
    color: azure;
}

.partner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.list {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    display: flex;
}

.list img {
    width: 150px;
    height: 150px;
}

.section-footer {
    display: flex;
    align-items: stretch;
    background-color: #16113a;
    color: azure;

}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.af {
    text-decoration: none;
    color: azure;
}

.af:hover {
    color: #ffd500;
}

.ai:hover {
    transition: 150ms;
    font-style: oblique;
    transform: scaleY(1.1);
    text-decoration: underline;
}



.footer-content {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column a {
    text-decoration: none;
    color: black;
}

.footer-column a:hover {
    text-decoration: underline;
    color: azure;
}

.footer-p {
    font-weight: 600;
}


h5 {
    font-size: 2rem;
    font-weight: 600;
}

.footer-section {
    width: 100%;
    display: flex;
    align-items: stretch;
    background-color: #ffd500;
    margin-top: 0;
}
