.body {
    font-family: 'Courier New', Courier, monospace; 
}

header 
{
    background-color: #ffd500;
    color: #000;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
}

.ticket-section {
    width: 100%;
    min-width: 92vh;
    display: flex;
    justify-content: space-around;
    background-color: black;

}

.ticket-group {
    display: flex;
    flex-direction: row;
    grid-column-gap: 2rem;
    padding-bottom: 4rem;
    margin-top: 4rem;
}

.group {
    display: flex;
    flex-direction: column;
    background-color: #F3F0CA;
    align-items: flex-start;

}

.group img {
    width: 420px;
    height: 500px;
}

.group-column {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 1rem; 
}


.footer-content {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column a {
    text-decoration: none;
    color: black;
}

.footer-column a:hover {
    text-decoration: underline;
    color: azure;
}

.footer-p {
    font-weight: 600;
}


h5 {
    font-size: 2rem;
    font-weight: 600;
}

.footer-section {
    width: 100%;
    display: flex;
    align-items: stretch;
    background-color: #ffd500;
 
    padding-left: 0;
    padding-right: 0;
    
}

.container-n {
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    margin-top: 2rem;
    padding-bottom: 4rem;
}